<section class="advantages">
  <div class="container">
    <ul class="advantages-list">
      <li class="advantages-item">
        <svg width="87" height="87" aria-hidden="true" class="advantages-icon">
          <use xlink:href="img/icons.svg#icon-food"></use>
        </svg>
        <h3 class="advantages-item-title">Magical <span>Atmosphere</span></h3>
        <p class="advantages-item-text">
          Our place is filled with a magical atmosphere and the mouthwatering
          aroma of delicious food.
        </p>
      </li>
      <li class="advantages-item">
        <svg width="87" height="87" aria-hidden="true" class="advantages-icon">
          <use xlink:href="img/icons.svg#icon-food"></use>
        </svg>
        <h3 class="advantages-item-title">Top Quality <span>Food</span></h3>
        <p class="advantages-item-text">Our food is of exceptional quality!</p>
      </li>
      <li class="advantages-item">
        <svg width="87" height="87" aria-hidden="true" class="advantages-icon">
          <use xlink:href="img/icons.svg#icon-food"></use>
        </svg>
        <h3 class="advantages-item-title">Affordable <span>Food</span></h3>
        <p class="advantages-item-text">
          You pay only for the amount — the quality is always outstanding!
        </p>
      </li>
    </ul>
  </div>
</section>
