<div class="burger-menu" data-visible="close">
  <button class="menu-close" aria-label="Close menu" data-action="close">
    <svg width="30" height="24" aria-hidden="true" class="header-close-icon">
      <use xlink:href="img/icons.svg#icon-close"></use>
    </svg>
  </button>
  <nav class="burger-nav">
    <ul class="burger-nav-list">
      <li class="burger-nav-item"><a href="#home" class="nav-link">Home</a></li>
      <li class="burger-nav-item"><a href="#menu" class="nav-link">Menu</a></li>
      <li class="burger-nav-item">
        <a href="#history" class="nav-link">About us</a>
      </li>
    </ul>
    <div class="burger-nav-address">
      <a href="tel:+1234567890" class="burger-nav-address-link">
        <svg width="16" height="16" aria-hidden="true" class="nav-address-icon">
          <use xlink:href="img/icons.svg#icon-phone"></use>
        </svg>
        <span>+1 234 567 890</span>
      </a>
      <p class="burger-nav-address-text">Contact us for booking</p>
    </div>
    <button class="burger-reserve-btn">Reserve a Table</button>
  </nav>
</div>
