<form class="reservation-form">
  <label>
    Your Name:
    <input type="text" name="name" required placeholder="Enter your name" />
  </label>

  <label>
    Date:
    <input type="date" name="date" required />
  </label>

  <label>
    Time:
    <input type="time" name="time" required />
  </label>

  <label>
    Number of Guests:
    <input
      type="number"
      name="guests"
      min="1"
      max="20"
      required
      placeholder="e.g. 2"
    />
  </label>

  <button type="submit">Reserve a Table</button>
</form>
