<section class="history">
  <div class="container">
    <div class="history-title-block">
      <h2 class="history-title">Our<span>History</span></h2>
      <p class="history-text">
        Like any other unique place, we have our own special story. The idea for
        the restaurant came to the founders unexpectedly. During a walk in the
        forest, the creator of our restaurant found themselves hundreds of
        kilometers away from the nearest settlement. Far from civilization and
        without any connection, they had to temporarily set up a simple way of
        life, sourcing and preparing food on their own.
      </p>
      <ul class="history-card-list">
        <li class="history-card">
          <span>93</span>
          <p>Beverages</p>
        </li>
        <li class="history-card">
          <span>206</span>
          <p>Food</p>
        </li>
        <li class="history-card">
          <span>71</span>
          <p>Appetizers</p>
        </li>
      </ul>
    </div>
      <div class="history-img-block">
            <img
              src="/img/decoration-1-desk.png"
              srcset="
                /img/decoration-1-desk.png    1x,
                /img/decoration-1-desk-2x.png 2x
              "
              alt="chicken"
              class="history-img-1"
            />
            <img
              src="/img/decoration-2-desk.jpg"
              srcset="
                /img/decoration-2-desk.jpg    1x,
                /img/decoration-2-desk-2x.jpg 2x
              "
              alt="chicken"
              class="history-img-2"
            />
            <img
              src="/img/decoration-3-desk.png"
              srcset="
                /img/decoration-3-desk.png    1x,
                /img/decoration-3-desk-2x.png 2x
              "
              alt="chicken"
              class="history-img-3"
            />
          </div>
    </div>
  </div>
</section>
