.advantages {
  margin-bottom: 48px;
  margin-top: -100px;
}
.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
  padding: 24px;
  height: 276px;
  background-color: #fff;
}
.advantages-item:nth-child(2n) p {
  width: 160px;
  margin-top: 24px;
}
.advantages-item:nth-child(3n) p {
  margin-top: 24px;
}

.advantages-item-title {
  font-weight: 400;
  font-size: 26px;
  color: #2c2c2c;
}

.advantages-item-title span {
  color: #bc9060;
}
.advantages-item-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #656363;
  line-height: 1.25;
}

@media screen and (min-width: 1200px) {
  .advantages-list {
    flex-direction: row;
    gap: 32px;
  }
  .advantages-item {
    width: calc(100% / 3);
    height: 100%;
  }
  .advantages-item-text {
    font-size: 22px;
  }
  .advantages-item:nth-child(2n) p,
  .advantages-item:nth-child(3n) p {
    margin-top: 26px;
  }
}
