.header {
  position: absolute;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 64px;
  height: 40px;
}

.header-menu-icon {
  fill: transparent;
  stroke: #ff7400;
  width: 30px;
  height: 48px;
}

.header-logo {
  fill: transparent;
  stroke: #ff7400;
  width: 64px;
  height: 30px;
}

.nav {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header .container {
    width: 100%;
  }
  .header {
    padding-top: 40px;
  }
  .header-logo {
    width: 100px;
    height: 68px;
  }
  .header-btn {
    display: none;
  }
  .nav {
    display: flex;
  }
  .nav-list {
    display: flex;
    gap: 24px;
  }
}
