.header {
  position: absolute;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 64px;
  height: 40px;
}

.header-menu-icon {
  fill: transparent;
  stroke: #ff7400;
  width: 30px;
  height: 48px;
}

.header-logo {
  fill: transparent;
  stroke: #ff7400;
  width: 64px;
  height: 30px;
}

.nav {
  display: none;
}

@media screen and (min-width: 1200px) {
  .header .container {
    width: 100%;
  }
  .header {
    padding-top: 40px;
  }
  .header-logo {
    width: 100px;
    height: 68px;
  }
  .header-btn {
    display: none;
  }
  .nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    gap: 24px;
  }

  .cart-link {
    display: flex;
    align-items: center;
  }
  .cart-link::after {
    content: '';
    width: 50px;
    height: 1px;
    background: #fff;
    transform: rotate(90deg);
  }
  .cart-icon {
    width: 14px;
    height: 14px;
    fill: transparent;
    stroke: #fff;
    stroke-width: 2px;
    margin-left: 20px;
  }

  .nav-link {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
  }

  .nav-address {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
  }
  .nav-address-link {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
  }
  .nav-address-text {
    font-weight: 400;
    color: #fff;
    font-size: 14px;
  }

  .nav-address-icon {
    fill: transparent;
    stroke: #fff;
    stroke-width: 2px;
    width: 24px;
    height: 24px;
  }
  .reserve-btn {
    padding: 14px 20px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background: #ff7400;
    margin-left: 46px;
  }
}
