.hero {
  height: 100vh;
  width: 100%;
  background-image: url('/img/hero-mob.jpg');
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: url('/img/hero-mob-2x.jpg');
    background-size: cover;
  }
}

.title-block {
  text-align: center;
  margin: 0 auto;
  padding-top: 300px;
}
.hero-subtitle {
  font-weight: 400;
  font-size: 30px;
  color: #d67e35;
}
.hero-title {
  font-weight: 400;
  font-size: 40px;
  color: #d67e35;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  margin-top: 46px;
  width: 137px;
  height: 47px;
  background: #ff7400;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url('/img/hero-desk.jpg');
    background-size: cover;
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .hero {
      background-image: url('/img/hero-desk-2x.jpg');
      background-size: cover;
    }
  }
  .hero .container {
    display: flex;
    flex-direction: column;
  }
  .title-block {
    padding-top: 325px;
    margin: 0;
    align-self: flex-start;
  }

  .hero-subtitle {
    font-size: 50px;
  }
  .hero-title {
    font-size: 80px;
  }
  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-text::before,
  .hero-text::after {
    content: '';
    display: block;
    width: 62px;
    height: 2px;
    background-color: #c4c4c4;
    margin-right: 8px;
  }
  .hero-text::after {
    margin-left: 8px;
    margin-right: 0;
  }
  .hero-btn {
    margin: 0;
    margin-left: 180px;
    margin-top: 20px;
  }
}
