.history .container {
  display: flex;
  flex-direction: column;
}

.history-title {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 48px;
}
.history-title span {
  color: #d67e34;
}

.history-text {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #656363;
  margin-bottom: 48px;
}

.history-card-list {
  display: flex;
  flex-direction: column;
}
