.food {
  height: 100%;
  margin-bottom: 48px;
}
.food .container {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
}
.food-title {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #000;
  margin-bottom: 48px;
}

.food-title span {
  color: #d67e34;
}
.food-img {
  margin-bottom: 48px;
}
.food-list {
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.food-list-item {
  display: flex;
  gap: 8px;
}

.food-item-img {
  width: 150px;
}
.food-title-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.food-list-item-title {
  font-weight: 400;
  font-size: 18px;
  color: #000;
}
.food-list-item-text {
  font-weight: 400;
  font-size: 24px;
  color: #000;
}

@media screen and (min-width: 1200px) {
  .food .container {
    padding-left: 165px;
    padding-right: 165px;
    flex-direction: row;
    justify-content: space-between;
  }
  .food-img {
    margin-bottom: 0;
  }
  .food-item-img {
    width: 162px;
  }
  .food-list {
    padding: 0;
  }
  .food-title-wrap {
    flex-direction: row;
  }
  .food-list-item-title {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .food-list-item-title::after {
    content: '';
    display: block;
    width: 204px;
    transform: rotate(180deg);
    border-bottom: 1px dashed #000;
    margin-left: 8px;
    margin-right: 8px;
  }
}
